*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #2c76e4; /* brand color */
    --secondary-color: #212c3e; /* bold text */
    --tertiary-color: #30425e; /* body text */
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #e2eeff;
}
.section-heading{
    color: var(--secondary-color);
    font-weight: 600;
}

/* styles for navbar */
.navbar a{
    color: var(--tertiary-color);
}
.navbar-brand{
    color: var(--secondary-color);
}
.navbar-brand > span {
    color: var(--primary-color);
}
.navbar .navbar-nav .nav-item .nav-link.active {
    color: var(--primary-color);
}
.nav-item {
    margin-left: 18px;
    text-align: center;
}
.navbar .navbar-nav .nav-item .register-btn{
    border:1px solid var(--primary-color);
    color: var(--primary-color);
}
.navbar .navbar-nav .nav-item .register-btn:hover{
    background-color: var(--primary-color);
    color: #FFFFFF;
}

/* styles for header */
.header h1 {
    color: var(--secondary-color);
}
.header h1 > span {
    color: var(--primary-color);
}
.header p {
    color: var(--tertiary-color);
}
.header-btn {
    background-color: var(--primary-color);
    color: #ffffff;
}
.header-btn:hover {
    background-color: var(--tertiary-color);
    color: #ffffff;
}

/* specialities */
.specialities .card{
    width: 100%;
    max-width: 240px;
    margin: auto;
    border-radius: 40px;
    border: none;
}
.specialities .card img{
    width: 120px;
}
.specialities .card .card-title{
    font-weight: 600;
    font-size: 28px;
    color: var(--primary-color);
}
.specialities .card .card-text{
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--tertiary-color);
}

/* top doctors */
.top-doctors .card{
    border-radius: 40px;
    padding: 20px;
    border: none;
    max-width: 420px;
}
.top-doctors .card img{
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 25px;
}
.top-doctors .card .card-title{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
}
.top-doctors .card .card-text{
    font-size: 14px;
    font-weight: 500;
    color: var(--tertiary-color);
}
.top-doctors .card .review{
    font-size: 10px;
}
.top-doctors .fa-star,
.top-doctors .fa-star-half-stroke{
    color: #E2DB20;
}